/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
body{
	width: 100%;
}
h1 {
	font-family: 'Sacramento';
	color: white;
	font-size: 60px;
	padding: 10px 0 10px 10px;
}
h2 {
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Josefin Slab', serif;
	font-size: 30px;
}
h3 {
	font-family: 'Sacramento';
	color: white;
	font-size: 30px;
	padding: 5px;
	
}
h4 {
	color: orangered;
	font-size: 30px;
	
}
p {
	font-family: 'Josefin Slab', serif;
	font-size: 20px;
	padding: 10px;
}

nav {
	width: 100%;
	background-color: peachpuff;
	
	font-family: 'Sacramento';
	text-align: center;
	padding: 20px;
	position: fixed;
	bottom: 0;
	

}

a:link { 
	text-decoration: none;
	color: orangered;
}/*unvisited*/
a:visited { 
	color: orangered;

}/*visited links*/
a:hover{
	color:lightcoral;

}/*user hover*/
a:active {
	color: orangered;
}/*active links*/

.top {
	width: 100%;
	background-color: #F48F8C;
	height: 622px;
	background-image: url(http://www.netanimations.net/beach_animated.gif);  /*http://i.giphy.com/SUV9ZAV70TQTS.gif */
	background-size: cover;
	background-repeat:no-repeat;
}

.why {
	width: 100%;
	background-color: black;
	float: left;
	
	
	font-family: 'Sacramento';
	color: white;
	font-size: 60px;
}
.logo {
	width: 50%;
	margin: 0 auto;
	padding:10px;
	background-color: orangered;
	text-align: center;
}

.tomato {
	background-color: tomato;
	height: 100%
}
.explore {
	width: 50%;
	padding:10px;	
	float: left;
}
.gallery {
	background: lightblue;
	float: left;
}
.two {
	width: 50%;
	height: 100%;
	float:right;
	align: top;
	padding: 20px;
}

.bottom {
	width: 100%;
	height: 300px;
	background-color: tomato;
}
.extranav {
	height: 300px;
}
/* CAROUSEL */
.carouselbox {
  font-family: helvetica,sans-serif;
  font-size: 14px;
  width: 100px;
  position: relative;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
}
.content {
  margin: 0;
  padding: 0;
}
.content li {
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}
.active {
  height: 130px;
}
.active li {
  position: absolute;
  top: 200px;
}
.active li.current {
  top: 30px;
}
.active .buttons {
  padding: 5px 0;
  background: #eee;
  text-align: center;
  z-index: 10;
  position: relative;
}
.carouselbox button {
  border: none;
  display: none;
}
.active button {
  display: block;
} 
.offscreen {
  position: absolute;
  left: -2000px;
}

 /*mobile */
/* Q&A: still use percentges with responsive? or fixed and then the break points?*/
/* use fixed heights with mobile or percentages? */
@media only screen and (min-width : 100px)
and (max-width : 680px) {

.top {
	width: 100%;
	height: 600px;
	
	/* changes lighthouse placement*/
	float: left;
	align: top;
}
.two {
	width: 100%;

}
.logo{
	text-align: center;
	width: 100%;
}

nav {
	
	background-color: peachpuff;
	text-align: center;
	/* fixed nav bar */
	position: fixed;
	bottom: 0;
}
/*.paddle {
	clear: all;
	display: none;
}*/
.why {
	width: 100%;
	background-color: black;
}
.explore {
	width: 100%;
	background-color: tomato;
}
}
