/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
body{
	width: 100%;
}
h1 {
	font-family: 'Sacramento';
	color: white;
	font-size: 60px;
	padding: 20px 0 30px 10px;
}
h2 {
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Josefin Slab', serif;
	font-size: 30px;
}
h3 {
	font-family: 'Sacramento';
	color: white;
	font-size: 30px;
	padding: 5px;
	
}
h4 {
	color: orangered;
	font-size: 30px;
	padding:10px;
}
p {
	font-family: 'Josefin Slab', serif;
	font-size: 20px;
	padding: 0px 10px 10px 20px;
}
img {
	/* padding: 20px; */
}
/*.paddle1 {
	float: left;
	padding: 0 0 0 300px;
}
.paddle2 {
	float: right;
	padding: 0 300px 0 0;
}
/* CAROUSEL */ 
.carouselnav {
	padding: 20px;
	text-align: center;
	font-family: 'Josefin Slab', serif;
	font-size: 20px;
}
.cycle-slideshow {
	z-index: 0;
	margin: 10px;
	padding: 20px;
}
.cycle-slideshow img {
	width: 100%;
	height: 100%;
}
nav {
	width: 100%;
	background-color: peachpuff;
	z-index: 10;
	font-family: 'Sacramento';
	text-align: center;
	padding:10px;
	position: fixed;
	bottom: 0;
}
.images {
	/*margin: 10px 100px 50px 100px;*/
	/*padding: 30px 70px 0px 90px;*/
	background-color: white;
	float: left;
}
.portfolioimages{
	background-color: white;
	margin: 10px;
}
a:link { 
	text-decoration: none;
	color: orangered;
}/*unvisited*/
a:visited { 
	color: orangered;

}/*visited links*/
a:hover{
	color:lightcoral;

}/*user hover*/
a:active {
	color: orangered;
}/*active links*/

.top {
	width: 100%;
	background-color: #F48F8C;
	height: 640px;
	background-image: url("http://38.media.tumblr.com/e794267cab66f6973d3fa6a008bf2a8e/tumblr_njgc746nfq1u0vocpo3_500.gif");
	/*<video controls="" autoplay="" name="media"><source src="http://ak8.picdn.net/shutterstock/videos/5217848/preview/stock-footage-timelapse-of-the-sunrise-over-elunda-bay-in-crete.mp4" type="video/mp4"></video>
	/*background-image: url(http://www.netanimations.net/beach_animated.gif);  http://i.giphy.com/SUV9ZAV70TQTS.gif */
	background-size: cover;
	background-repeat:no-repeat;
}

.why {
	width: 100%;
	background-color: black;
	float: left;
	font-family: 'Sacramento';
	color: white;
	font-size: 60px;
}
.logo {
/*	width: 50%;
*/	margin: 0 auto;
	padding:10px;
	background-color: tomato;
	text-align: center;
}

.tomato {
	background-color: tomato;
	height: 100%
}
.explore {
	width: 50%;
	background-color: inherit;	
	float: left;
	/*height:330px;	*/

}
.portfolio {
	background: lightblue;
	float: left;
	width: 100%;
}
.two {
	width: 50%;
	float:right;
	background-color: inherit;
	/*height:330px;*/	
}

.bottom {
	width: 100%;
	height: 300px;
	background-color: tomato;
}
.space {
	height: 500px;
}

 /*mobile */
/* Q&A: still use percentges with responsive? or fixed and then the break points?*/
/* use fixed heights with mobile or percentages? */
@media only screen and (min-width : 100px)
and (max-width : 680px) {

	.top {
		width: 100%;
		height: 600px;
		float: left;
		align: top;
	}

	.two {
		width: 100%;

	}
	.logo{
		text-align: center;
		/*width: 100%;*/
	}
	.images {
	margin: 10px 100px 80px 8px;
	width:100%;
	background-color: white;
	float:left;	
	}
	.images2 {
	margin: 10px 100px 80px 8px;
	padding: ;
	width:100%;
	background-color: white;
	float:left;	
	}
	.images3 {
	margin: 10px 100px 80px 8px;
	padding: ;
	width:100%;
	background-color: white;
	float:left;
	
	}
	.center {
		text-align: center;
	}
	nav {
		background-color: peachpuff;
		text-align: center;
		position: fixed;
		bottom: 0;
	}
	p {
		margin: 10px;
	}
	
	.why {
		width: 100%;
		background-color: black;
	}

	.explore {
		width: 100%;
		height: 400px;
		background-color: tomato;
	}
}
