/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}


h1 {
	font-family: 'Sacramento';
	color: white;
	font-size: 60px;
	padding:10px;
}
h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}
h3 {
	font-family: 'Sacramento';
	color: white;
	font-size: 30px;
	padding: 5px 0 0 50px;
	

}
p {
	font-family: 'Josefin Slab', serif;
	font-size: 20px;
	padding: 20px;
}

nav {
	width: 100%;
	
	background-color: peachpuff;
	color: black;
	
	font-family: 'Sacramento';
	font-size: 30px;
	text-align: center;
	padding: 20px;
	position: fixed;
	bottom: 0;
	left: 0;

}
.lighthouse{
	padding: 100px 0 0 70px;
}
.infostrip {
	width: 50%;
	height:10%;
	background-color: #1d9ed1;
	color: black;
	float: right;
	font-size: 20px;
	
}
.left {
	width: 100%;
	background-color: #F48F8C;
	height: 570px;
	background-image: url(http://www.netanimations.net/beach_animated.gif);  /*http://i.giphy.com/SUV9ZAV70TQTS.gif */
	background-size: cover;
	background-repeat:no-repeat;
	
}
span {
	padding: 0 5px 0 5px;
}

.top {
	width: 50%;
	
	background-color: black;
	float: left;
	align: top;
	padding: 10px 0 0 0;
}
.logo {
	float: right;
	padding: 20px;
	background-color: orangered;
}

.toptext {
	font-family: 'Sacramento';
	color: white;
	font-size: 60px;
}
.bottom {
	width: 50%;
	height: 279px;
	background-color: red;
	float: left;
	align: top;
	margin: 0 auto;
	
}
.one {
	width: 50%;
	height: 100%;
	background-color: tomato;
	margin: auto;
	float: left;
	overflow-y: scroll;
	

}

.two {
	width: 50%;
	height: 100%;
	background-color: #94bece;
	float: right;
	background-image: url("../images/desk.jpg");
	
}	

		

/*.three {
	width: 33%;
	height: 90%;
	background-color: purple;
	float: ;
	align: top;
}*/

/* not active    .lighthouse1 {
	background-image: url("light.jpg");
}*/
/* tablets
@media only screen and (min-width : 481px)
and (max-width : 678px) {

nav {
	width: 50%;
	height:40%;
	background-color: #94bece;
	color: black;
	float: right;
	
}
.bottom {
	width: 50%;
	height: 250px;
	background-color: red;
	float: left;
	
}
.one {
	width: 50%;
	height: 100%;
	background-color: hotpink;
	float: left;
}

 /*mobile */
/* Q&A: still use percentges with responsive? or fixed and then the break points?*/
/* use fixed heights with mobile or percentages? */
@media only screen and (min-width : 100px)
and (max-width : 680px) {

.left {
	width: 100%;
	height: 515px;
	background-color: ;
	float: left;
	align: top;

	background-image: url(images/"light.jpg"); /* not working ??*/
}
.logo{
	width: 100%;
	float: left;
}

nav {
	width: 100%;
	
	background-color: peachpuff;
	text-align: left;
	color: black;
	position: fixed;
	bottom: 0;
	left: 0;
	      
	
}
.infostrip {
	width: 100%;
	height:10%;
	background-color: #1d9ed1;
	color: black;
	float: right;
	
}
.top {
	width: 100%;
	
	background-color: black;
}
/*.lighthouse{
	padding: 40px;
} not doing anyting*/
.bottom {
	width: 100%;
	
	background-color: red;
	float: left;
	align: top;
}
.one {
	width: 100%;
	background-color: tomato;
	
}
.two {
	width: 100%;
	
	background-color: pink;
	float: right;
	font-family:'Sacramento';
	font-size: 60px;


}

.video {
	width: 100%;

}

